h1, h2, a{
    text-align: center;
    color: white;
    font-family: cursive;
    font-size: 40px;
}

body{
    background-color: grey;
}

img{
    margin-left: 90px;
}

.imagem{
    width: 60%;
    margin-left: 400px;
}